
<div>
  <p>Seleccione los indicadores que desea consultar para visualizar la información sobre sus estadísticas. Una vez seleccionados, haga click en el botón "Cargar":</p>

  <div class="form-check" *ngFor="let indicator of availableIndicators">
    <label class="form-check-label" for="{{indicator}}"> 
      <input class="form-check-input" type="checkbox" name="{{indicator}}" id="{{indicator}}" value="{{indicator}}" (change)="onCheckboxChange($event)" >{{indicator | uppercase}}
    </label>
  </div>

  <br>
  <button class="btn btn-primary" [disabled]="loading" (click)="refreshIndicators()">Cargar</button>
</div>

<hr>

<div [hidden]="loading || failed" >
  <table class="table">
    <thead>
      <tr>
        <th>Indicador</th>
        <th>Mínimo (*)</th>
        <th>Máximo (*)</th>
        <th>Promedio (*)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let indicator of indicatorsStats">
        <td>{{indicator.name | uppercase}}</td>
        <td>{{indicator.min | currency}}</td>
        <td>{{indicator.max | currency}}</td>
        <td>{{indicator.average | currency}}</td>
      </tr>
    </tbody>
  </table>

  <br>
  <p>* Las estadísticas están basadas en los valores acumulados de los últimos 6 meses.</p>
</div>

<br>
<h2 class="display-5" [hidden]="!loading">Cargando estadísticas ...</h2>

<div [hidden]="loading || !failed" class="alert alert-danger">{{failedMessage}}</div>
