
<table class="table">
  <thead>
    <tr>
      <th>Indicador</th>
      <th>Minimo (*)</th>
      <th>Maximo (*)</th>
      <th>Promedio (*)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let indicator of indicators">
      <td>{{indicator.name}}</td>
      <td>{{indicator.min}}</td>
      <td>{{indicator.max}}</td>
      <td>{{indicator.average}}</td>
    </tr>
  </tbody>
</table>

<p>* Valores corresponden a un histórico de los últimos 6 meses</p>

<button class="btn btn-primary">Refrescar</button>
