
<table class="table">
  <thead>
    <tr>
      <th>Indicador</th>
      <th>Minimo (*)</th>
      <th>Maximo (*)</th>
      <th>Promedio (*)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let indicator of indicators">
      <td>{{indicator.name | titlecase}}</td>
      <td>{{indicator.min | currency}}</td>
      <td>{{indicator.max | currency}}</td>
      <td>{{indicator.average | currency}}</td>
    </tr>
  </tbody>
</table>

<p>* Valores corresponden a un histórico de los últimos 6 meses</p>

<button class="btn btn-primary" (click)="refreshIndicators()">Refrescar</button>
